mkdir /tmp/postgres_ltc_nodes_mainnet
docker volume create ltc_nodes_data_mainnet
docker build -t postgres_ltc_nodes_mainnet .
docker run \
       --restart=always \
       --name postgres_ltc_nodes_mainnet \
       -v ltc_nodes_data_mainnet:/var/lib/postgresql/data \
       -v /tmp/postgres_ltc_nodes_mainnet:/var/run/postgresql/ \
       -it postgres_ltc_nodes_mainnet
