[POSTGRESQL]

dsn = postgres://postgres:test@/btc_nodes
pool_threads = 15

[SEED]

domain = seed.bitcoin.sipa.be,dnsseed.bluematt.me,dnsseed.bitcoin.dashjr.org,seed.bitcoinstats.com,bitseed.xf2.org


[NETWORK]

default_port = 8333
magic = 0xD9B4BEF9
version = 70015
services = 0b0000000000000000000000000000000000000000000000000000000000000001
user_agent = /btc_node_scanner:0.0.1/
ping_timeout = 5
connect_timeout = 15
handshake_timeout = 6

[SCAN]

threads = 1000